<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">id</th>
     <th scope="col">Nombre</th>
     <th scope="col">Nombre</th>
     <th scope="col">Apellido</th>
     <th scope="col">Apellido</th>
     <th scope="col">Direccion</th>
  </tr>
 </thead>
 <tbody>
 	<tr th:each="veterinarios: ${veterinario} ">
 		<td th:text="${veterinario.id}"/>
 		<td th:text="${veterinario.nom}"/>
 		<td th:text="${veterinario.seg_nom}"/>
 		<td th:text="${veterinario.ape}"/>
 		<td th:text="${veterinario.seg_ape}"/>
 		<td th:text="${veterinario.dir}"/>
 		<td> <a th:href="@{/form/} + ${veterinario.id}" th:text="'Editar'" class="btn btn-primary btn-xs" ></a></td>
     	<td> <a th:href="@{/eliminar/} + ${veterinario.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro?')" ></a></td>
  	</tr>
 </tbody>
</table>
</div>
 
 <a th:href="@{/form}">Crear veterinario</a>
 
</body>
</html>